#footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: rgb(var(--footer-rgb));
  color: rgb(var(--footer-foreground-rgb));
  user-select: none;
  text-decoration: none;
  
  bottom: 2vh;
  z-index: 1;
}

#footer h1 {
  margin: 5px;
  margin-left: clamp(2rem, 5vw, 24rem);
  font-size: clamp(0.5rem, 1.25vw, 6rem);
}

#footer a {
  color: rgb(var(--footer-foreground-rgb));
  text-decoration: none;
  transition: opacity 500ms ease;
  cursor: pointer;
}

#footer a:hover {
  opacity: 0.5;
}

#footer > h2 {
  margin-right: clamp(2rem, 5vw, 24rem);
  font-size: clamp(0.5rem, 1.25vw, 6rem);
}
