#main {
  display: flex;
  
  justify-content: space-between;

  min-height: 100vh;

  position: relative;
}

#bgpattern {
  width: 100%;
  height: 100%;
  
  background-image:
  radial-gradient(
  rgba(var(--foreground-rgb), 0.1) 9%,
  transparent 9%
  );
  background-position: 0% 0%;
  background-size: 5.5vmin 5.5vmin;
  
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  transition: opacity 500ms ease, background-size 500ms ease, background-position 500ms ease;
}

#content {
  background-color: rgb(var(--footer-rgb));

  width: 100%;
  height: auto;

  padding: clamp(0.25rem, 0.625vw, 3rem);

  margin: clamp(8rem, 20vw, 96rem);
  margin-top: clamp(6rem, 15vw, 72rem);
  margin-bottom: clamp(6rem, 15vw, 72rem);

  font-size: 12px;
  font-size: 1vw;
}
