:root {
    --timberwolf: 221, 213, 208;

	--eerie-black: 38, 38, 38;
	--lighter-eerie-black: 69, 69, 69;
	--dark-white: 224, 224, 224;
	--white: 240, 240, 240;

	--spring-green: 42, 252, 152;
	--viridian: 83, 145, 126;
	--imperial-red: 229, 75, 75;
	--tea-green: 204, 245, 172;
}

html, body {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
    fill: rgb(var(--fg));

    font-family: '3270 Nerd Font';
    src: url('3270NerdFont-Regular.ttf');
}

* {
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out, fill 250ms ease-in-out;
}

body.dark-mode {
    --bg2: var(--eerie-black);
	--bg: var(--lighter-eerie-black);
	--fg: var(--timberwolf);
}

body.light-mode {
    --bg2: var(--dark-white);
	--bg: var(--white);
	--fg: var(--eerie-black);
}